# Data Analysis: Planning and development borough

## Data Preprocessing

In [3]:
import pandas as pd

### Dataframe 1: Housing in London Monthly

In [4]:
df_monthly = pd.read_csv("./data/housing_in_london_monthly_variables_cleaned.csv")

In [5]:
df_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4320 entries, 0 to 4319
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4320 non-null   object
 1   area           4320 non-null   object
 2   average_price  4320 non-null   int64
 3   code           4320 non-null   object
 4   houses_sold    4275 non-null   float64
 5   no_of_crimes   3072 non-null   float64
 6   borough_flag   4320 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 236.4+ KB

In [6]:
df_monthly["date"] = pd.to_datetime(df_monthly.date)

In [7]:
df_monthly["area"] = df_monthly.area.astype("category")

In [8]:
df_monthly["code"] = df_monthly.code.astype("category")

In [9]:
df_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4320 entries, 0 to 4319
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4320 non-null   datetime64[ns]
 1   area           4320 non-null   category
 2   average_price  4320 non-null   int64
 3   code           4320 non-null   category
 4   houses_sold    4275 non-null   float64
 5   no_of_crimes   3072 non-null   float64
 6   borough_flag   4320 non-null   int64
dtypes: category(2), datetime64[ns](1), float64(2), int64(2)
memory usage: 180.1 KB

### Dataframe 2: Housing in London Yearly

In [10]:
df_yearly = pd.read_csv("./data/housing_in_london_yearly_variables_cleaned.csv")

In [11]:
df_yearly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               408 non-null    object
 1   area               408 non-null    object
 2   date               408 non-null    object
 3   median_salary      400 non-null    float64
 4   life_satisfaction  308 non-null    float64
 5   mean_salary        405 non-null    float64
 6   recycling_pct      301 non-null    float64
 7   population_size    355 non-null    float64
 8   number_of_jobs     343 non-null    float64
 9   area_size          259 non-null    float64
 10  no_of_houses       259 non-null    float64
 11  borough_flag       408 non-null    int64
dtypes: float64(8), int64(1), object(3)
memory usage: 38.4+ KB

In [12]:
df_yearly['date'] = pd.to_datetime(df_yearly.date)

In [13]:
df_yearly['area'] = df_yearly.area.astype('category')

In [14]:
df_yearly['code'] = df_yearly.code.astype('category')

In [15]:
df_yearly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408 entries, 0 to 407
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               408 non-null    category
 1   area               408 non-null    category
 2   date               408 non-null    datetime64[ns]
 3   median_salary      400 non-null    float64
 4   life_satisfaction  308 non-null    float64
 5   mean_salary        405 non-null    float64
 6   recycling_pct      301 non-null    float64
 7   population_size    355 non-null    float64
 8   number_of_jobs     343 non-null    float64
 9   area_size          259 non-null    float64
 10  no_of_houses       259 non-null    float64
 11  borough_flag       408 non-null    int64
dtypes: category(2), datetime64[ns](1), float64(8), int64(1)
memory usage: 37.7 KB

### Dataframe 3: Planning and development control

In [35]:
df_planning = pd.read_csv('./data/planning-and-development-control-statistics 2012-19_cleaned.csv')

In [36]:
df_planning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   code                                   264 non-null    object
 1   planning_authority                     280 non-null    object
 2   dwellings                              280 non-null    int64
 3   light_industry                         280 non-null    int64
 4   general_industry                       280 non-null    int64
 5   retail_and_service                     280 non-null    int64
 6   traveller_pitches                      280 non-null    int64
 7   other_developments                     280 non-null    int64
 8   change_of_use                          280 non-null    int64
 9   householder_developments               280 non-null    int64
 10  advertisements                         280 non-null    int64
 11  building_to_alter                      280 non-null    int64
 12  building_to_demolish                   280 non-null    int64
 13  conservation_area_consents             280 non-null    int64
 14  total                                  280 non-null    int64
 15  enforcement_notices_issued             276 non-null    float64
 16  stop_notices_issued                    276 non-null    float64
 17  temp_stop_notices_issued               276 non-null    float64
 18  condition_notices_served               276 non-null    float64
 19  planning_contravention_notices_served  276 non-null    float64
 20  granted_injunctions_by_court           276 non-null    float64
 21  refused_injunctions_by_court           276 non-null    float64
 22  year                                   280 non-null    int64
dtypes: float64(7), int64(14), object(2)
memory usage: 50.4+ KB

In [37]:
df_planning['code'] = df_planning.code.astype("category")

In [38]:
df_planning['planning_authority'] = df_planning.planning_authority.astype('category')

In [39]:
df_planning.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   code                                   264 non-null    category
 1   planning_authority                     280 non-null    category
 2   dwellings                              280 non-null    int64
 3   light_industry                         280 non-null    int64
 4   general_industry                       280 non-null    int64
 5   retail_and_service                     280 non-null    int64
 6   traveller_pitches                      280 non-null    int64
 7   other_developments                     280 non-null    int64
 8   change_of_use                          280 non-null    int64
 9   householder_developments               280 non-null    int64
 10  advertisements                         280 non-null    int64
 11  building_to_alter                      280 non-null    int64
 12  building_to_demolish                   280 non-null    int64
 13  conservation_area_consents             280 non-null    int64
 14  total                                  280 non-null    int64
 15  enforcement_notices_issued             276 non-null    float64
 16  stop_notices_issued                    276 non-null    float64
 17  temp_stop_notices_issued               276 non-null    float64
 18  condition_notices_served               276 non-null    float64
 19  planning_contravention_notices_served  276 non-null    float64
 20  granted_injunctions_by_court           276 non-null    float64
 21  refused_injunctions_by_court           276 non-null    float64
 22  year                                   280 non-null    int64
dtypes: category(2), float64(7), int64(14)
memory usage: 49.2 KB